<div id="<%= dom_id travel %>">
  <p>
    <strong>Timestamp begin:</strong>
    <%= travel.timestamp_begin %>
  </p>

  <p>
    <strong>Timestamp end:</strong>
    <%= travel.timestamp_end %>
  </p>

</div>
