<div id="<%= dom_id gyroscope %>">
  <p>
    <strong>X:</strong>
    <%= gyroscope.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= gyroscope.y %>
  </p>

  <p>
    <strong>Z:</strong>
    <%= gyroscope.z %>
  </p>

</div>
