<div id="<%= dom_id accelerometer %>">
  <p>
    <strong>X:</strong>
    <%= accelerometer.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= accelerometer.y %>
  </p>

  <p>
    <strong>Z:</strong>
    <%= accelerometer.z %>
  </p>

</div>
