<p style="color: green"><%= notice %></p>

<% content_for :title, "Accelerometers" %>

<h1>Accelerometers</h1>

<div id="accelerometers">
  <% @accelerometers.each do |accelerometer| %>
    <%= render accelerometer %>
    <p>
      <%= link_to "Show this accelerometer", accelerometer %>
    </p>
  <% end %>
</div>

<%= link_to "New accelerometer", new_accelerometer_path %>
