<% content_for :title, "New accelerometer" %>

<h1>New accelerometer</h1>

<%= render "form", accelerometer: @accelerometer %>

<br>

<div>
  <%= link_to "Back to accelerometers", accelerometers_path %>
</div>
