<div id="<%= dom_id user_accelerometer %>">
  <p>
    <strong>X:</strong>
    <%= user_accelerometer.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= user_accelerometer.y %>
  </p>

  <p>
    <strong>Z:</strong>
    <%= user_accelerometer.z %>
  </p>

</div>
